.css-1s2fmpl-MuiLinearProgress-root {
    position: relative;
    overflow: hidden;
    display: block;
    height: 4px;
    z-index: 0;
    background-color: rgb(204 207 211) !important;
    width: 100%;
    
}
.css-rorn0c-MuiTableContainer-root {
    width: 100%;
    overflow-x: hidden !important;
    
}