.icon-container {
  width: 5.5vw;
  aspect-ratio: 1/1;
  display: flex;
  background-color: #2e8a99;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.icon-element {
  width: 55% !important;
  height: 55% !important;
  color: white;
}
.main-grid {
  background-color: white;
  box-shadow: 0px 0px 12px 5px #e9e8e8;

  width: 100%;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 1rem;
  border-radius: 8px;
}
.main-grid-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0px 10px;
}

.main-grid-item div {
  font-size: 1.55vw;
  font-weight: 600;
}
.card-stats {
  font-weight: 600;
  font-size: 2vw !important;
}

/*time tracker card*/

.time-tracker-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  padding: 10px;
  justify-items: end;
  align-items: center;
  font-size: 2vw;
  height: 100%;
}
.playicon-container {
  width: 68px;
  aspect-ratio: 1/1;
  display: flex;
  background-color: #2e8a99;
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.time-container {
  display: grid;
  justify-content: start;
  align-content: center;
  width: 100%;
}
.time-container h1 {
  font-size: 2.5vw;
  font-weight: 900;
}
.time-container span {
  font-size: 2vw;
}
@media (max-width: 999px) {
  /* .icon-container {
    width: 8.6vw;
  } */
  .main-grid-item div {
    font-size: 16px;
  }
  .playicon-container {
    width: 6.75vw;
    gap: 0.6rem;
  }
}
@media (max-width: 767px) {
}

@media (max-width: 499px) {
  .icon-container {
    width: 35px;
    height: 35px;
  }
  .main-grid {
    padding: 10px;
    gap: 10px;
    transition: padding 0.3s ease-in-out;
  }
  .time-tracker-container {
    gap: 1rem;
  }
}
@media (max-width: 399px) {
  .icon-container {
    width: 27px;
    height: 27px;
    transition: 0.3s ease-in-out;
  }
  .main-grid-item div {
    font-size: 10px;
  }
  .main-grid {
    padding: 8px !important;
  }
  .time-tracker-container {
    gap: 8px;
    font-size: 9px;
  }
}
