.css-3nejl.Appointment-appointment {
  height: auto !important;
  letter-spacing: 0 !important;
  background-color: #1f6e8c !important;
}
.schedulerPaper {
  background-color: white;
  width: 100% !important;
}
.css-19aw1nr.Appointment-appointment {
  background-color: #1f6e8c !important;
}
